<div class="row">
  <div class="col-md-12">
    <div class="section-title">
      <h3 class="title"><%= t".new_product" %></h3>
      <div class="section-nav">
        <ul class="section-tab-nav tab-nav">
          <li class="active"><%= link_to t(".laptops"), "#" %></li>
          <li><%= link_to t(".smart_phone"), "#" %></li>
          <li><%= link_to t(".cameras"), "#" %></li>
          <li><%= link_to t(".accessories"), "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="products-tabs">
        <div id="tab1" class="tab-pane active">
          <div class="products-slick" data-nav="#slick-nav-1">
            <div class="product">
              <div class="product-img">
                <%= image_tag("product01.png") %>
              </div>
              <div class="product-body">
                <p class="product-category"><%= t".category" %></p>
                <h3 class="product-name"><%= link_to t(".product_name"), "#" %></h3>
                <h4 class="product-price"><%= t".price" %></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                  <button class="quick-view"><%= link_to fa_icon("", text: "", class: "fa fa-eye"), "#" %></button>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><%= link_to fa_icon("", text: t(".add_to_cart"), class: "fa fa-shopping-cart"), "#" %></button>
              </div>
            </div>
            <div class="product">
                <div class="product-img">
                  <%= image_tag("product05.png") %>
                </div>
                <div class="product-body">
                  <p class="product-category"><%= t".category" %></p>
                  <h3 class="product-name"><%= link_to t(".product_name"), "#" %></h3>
                  <h4 class="product-price"><%= t".price" %></h4>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="product-btns">
                    <button class="quick-view"><%= link_to fa_icon("", text: "", class: "fa fa-eye"), "#" %></button>
                  </div>
                </div>
                <div class="add-to-cart">
                  <button class="add-to-cart-btn"><%= link_to fa_icon("", text: t(".add_to_cart"), class: "fa fa-shopping-cart"), "#" %></button>
                </div>
              </div>
            <div class="product">
              <div class="product-img">
                <%= image_tag("product02.png") %>
              </div>
              <div class="product-body">
                <p class="product-category"><%= t".category" %></p>
                <h3 class="product-name"><%= link_to t(".product_name"), "#" %></h3>
                <h4 class="product-price"><%= t".price" %></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                  <button class="quick-view"><%= link_to fa_icon("", text: "", class: "fa fa-eye"), "#" %></button>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><%= link_to fa_icon("", text: t(".add_to_cart"), class: "fa fa-shopping-cart"), "#" %></button>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <%= image_tag("product03.png") %>
              </div>
              <div class="product-body">
                <p class="product-category"><%= t".category" %></p>
                <h3 class="product-name"><%= link_to t(".product_name"), "#" %></h3>
                <h4 class="product-price"><%= t".price" %></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                  <button class="quick-view"><%= link_to fa_icon("", text: "", class: "fa fa-eye"), "#" %></button>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><%= link_to fa_icon("", text: t(".add_to_cart"), class: "fa fa-shopping-cart"), "#" %></button>
              </div>
            </div>
            <div class="product">
              <div class="product-img">
                <%= image_tag("product04.png") %>
              </div>
              <div class="product-body">
                <p class="product-category"><%= t".category" %></p>
                <h3 class="product-name"><%= link_to t(".product_name"), "#" %></h3>
                <h4 class="product-price"><%= t".price" %></h4>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                  <button class="quick-view"><%= link_to fa_icon("", text: "", class: "fa fa-eye"), "#" %></button>
                </div>
              </div>
              <div class="add-to-cart">
                <button class="add-to-cart-btn"><%= link_to fa_icon("", text: t(".add_to_cart"), class: "fa fa-shopping-cart"), "#" %></button>
              </div>
            </div>
          </div>
          <div id="slick-nav-1" class="products-slick-nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>
