<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <%= image_tag("shop01.png") %>
          </div>
          <div class="shop-body">
            <h3><%= t(".laptop") %><br><%= t(".collection") %></h3>
            <%= link_to fa_icon("", text: t(".shop_now"), class: "fa fa-arrow-circle-right cta-btn"), "#"%>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <%= image_tag("shop03.png") %>
          </div>
          <div class="shop-body">
            <h3><%= t(".accessories") %><br><%= t(".collection") %></h3>
            <%= link_to fa_icon("", text: t(".shop_now"), class: "fa fa-arrow-circle-right cta-btn"), "#"%>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <%= image_tag("shop02.png") %>
          </div>
          <div class="shop-body">
            <h3><%= t(".cameras") %><br><%= t(".collection") %></h3>
             <%= link_to fa_icon("", text: t(".shop_now"), class: "fa fa-arrow-circle-right cta-btn"), "#"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
