<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/head_default"%>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/navi" %>
    <%= render "layouts/section_about" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/javascripts" %>
  </body>
</html>
